*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1060px;
    margin: auto;
    padding: 0px 20px;
}
header{
    background-image: url(./Layer\ 101\ 1.jpg);
    min-height: 641px;
    background-size: cover;
    position: center center;
    width: 100%;
    position: relative;
    z-index: -1;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
header nav ul li{
    display: inline-block;
    padding: 0px 20px;
}
header nav ul li a{
    color: white;
    font-weight: 700;
    font-size: 13px;
}
.menu{
    display: none;
}
header a{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.background_color{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: -1;
}
header h1{
    color: white;
    margin-top: 220px;
    text-align: center;
}
header p{
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-top: 16px;
    text-align: center;
}
button{
    margin-top: 45px;
    width: 158px;
    height: 45px;
    background: transparent;
    border: 1px solid white;
}
button p{
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 10px;
    color: white;
}
form{
    display: flex;
    justify-content: center;
}
.services_main{
    margin: 100px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
h3{
    color: #555555;
    padding-top: 83px;
    text-align: center;
}
.line{
    margin-top: 22px;
    display: flex;
    justify-content: center;
}
.about_text{
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
}
h3+p{
    margin-top: 25px;
    text-align: center;
}
.paragraph{
    color: #555555;
    margin-top: 25px;
    text-align: center;
}
.about_text P{
    max-width: 500px;
    color: #555555;
}
.about_picture{
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.about_us{
    background: #F8F8F8;
    padding-bottom: 138px;
}
h2{
    color: #555555;
    font-weight: 400;
    font-size: 12px;
    margin-top: 23px;
    margin-bottom: 15px;
}
h2+p{
    color: #555555;
    font-weight: 400;
    font-size: 12px;
    max-width: 260px;
}
.services_card{
    max-width: 260px;
    text-align: center;
}
h4{
    color: #555555;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 83px;
}
.works nav{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
}
.works nav ul{
    display: flex;
    max-width: 400px;
}
.works nav ul li a{
    color: #555555;
    font-weight: 400;
    font-size: 14px;
    padding-right: 15px;
}
.works nav ul li a:hover{
    color: #C1301D;
}
.works_bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 87px;
}
.works_pic{
    padding-bottom: 24px;
}
.get_in_touch{
    width: 100%;
    min-height: 300px;
    background-image: url(./Layer\ 29\ 1.png);
    position: relative;
    z-index: -1;
}
.bg_img{
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: -1;
}
h5{
    padding-top: 84px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
button span{
    font-weight: 700;
    font-size: 14px;
    color: white;
}
.blogs_text{
    margin-top: 109px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
}
.blogs_p{
    width: 68px;
    height: 68px;
    border: 1px solid #786F6F;
}
.blogs_p p{
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    margin-top: 8px;
    color: #786F6F;
}
.blogs_main_first{
    display: flex;
}
.blogs_main_first h6{
    padding-top: 10px;
    color: #C1301D;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 12px;
}
.blogs_main_right{
    margin-left: 22px;
}
i{
    color: #786F6F;
}
i span{
    color: #C1301D;
}
.blogs_main p{
    max-width: 590px;
    color: #786F6F;
    margin-top: 15px;
}
.blogs_button{
    display: flex;
    justify-content: flex-start;
}
.blogs_button p{
    display: flex;
    justify-content: flex-start;
    color: #C1301D;
}
.fonts_pictures{
    padding-top: 87px;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
}
.fonts_picture1{
    padding-top: 10px;
}
.fonts{
    width: 100%;
    min-height: 400px;
    background: #F8F8F8;
}
.fonts_text{
    padding-top: 67px;
    max-width: 470px;
    margin: auto;
}
.fonts_text p{
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
    color: #786F6F;
}
.fonts_text span{
    padding-top: 5px;
    font-weight: 500;
    font-size: 18px;
    color: #786F6F;
    display: flex;
    justify-content: center;
}
.fonts_image{
    padding-top: 33px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.contact .par{
    text-align: center;
    margin-top: 23px;
    color: #786F6F;
}
.logo{
    margin-bottom: 50px;
    display: flex;
}
.logo_text{
    padding-left: 10px;
}
.logo img{
    width: 12px;
    height: 15px;
}
.logo_text .logo_par{
    font-weight: 700;
    font-size: 12px;
    color: #786F6F;
    padding-bottom: 13px;
}
.logo_text .logo_par + span{
    font-weight: 700;
    font-size: 11px;
    color: #786F6F;
}
.contact_main{
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
}
input{
    padding: 10px 100px 10px 20px;
}
.input{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 25px;
}
.textarea{
    display: block;
    margin-top: 15px;
    padding: 10px 430px 60px 20px;
}
.contact_form{
    display: block;
}
.last{
    padding: 0;
    margin-top: 30px;
    border: 1px solid #786F6F;
}
footer{
    width: 100%;
    background: #C1301D;
    height: 270px;
    text-align: center;
    
}
.footer_img{
    margin-top: 88px;
    padding-top: 8px;
    width: 32px;
    height: 32px;
    border: 2px solid white;
    border-radius: 50%;

}
.footer_main{
    display: flex;
    justify-content: space-between;
    max-width: 155px;
    margin: auto;
    
}
.imgg{
    margin-top: 10px;
}
footer p{
    color: white;
    margin-top: 25px;
}
@media  screen and (max-width: 985px) {
    header nav{
        flex-wrap: wrap;
    }
    .services_main{
        grid-template-columns: repeat(2,1fr);
    }
    .about_picture{
        grid-template-columns: repeat(2, 1fr);
    }
    .about_text{
        flex-wrap: wrap;
    }
    header nav ul li{
        display: none;
    }
    .menu{
        display: inline;
    }
    .works_bottom{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs_text{
        flex-wrap: wrap;
    }
    .blogs_main_right{
        flex-wrap: wrap;
    }
    .fonts_pictures{
        grid-template-columns: repeat(3, 1fr);
    }
    .contact_main{
        flex-wrap: wrap;
    }
    
}
@media  screen and (max-width: 768px) {
    .services_main{
        grid-template-columns: repeat(2,1fr);
    }
    .about_picture{
        grid-template-columns: repeat(2, 1fr);
    }
    .fonts_pictures{
        grid-template-columns: repeat(2, 1fr);
    }
    .about_text{
        flex-wrap: wrap;
    }
    header nav{
        flex-wrap: wrap;
    }
    header nav ul{
        display: none;
    }
    .menu{
        display: inline;
    }
    .works_bottom{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs_text{
        flex-wrap: wrap;
    }
    .blogs_main_right{
        flex-wrap: wrap;
    }
    .input{
        grid-template-columns: repeat(1,1fr);
    }
    .textarea{
        padding: 10px 100px 10px 20px;
    }

}
@media  screen and (max-width: 578px) {
    .services_main{
        grid-template-columns: repeat(1,1fr);
    }
    .about_picture{
        grid-template-columns: repeat(1, 1fr);
    }
    .fonts_pictures{
        grid-template-columns: repeat(1, 1fr);
    }
    .about_text{
        flex-wrap: wrap;
    }
    header nav{
        flex-wrap: wrap;
    }
    header nav ul{
        display: none;
    }
    .menu{
        display: inline;
    }
    .blogs_text{
        flex-wrap: wrap;
    }
    .blogs_main_right{
        flex-wrap: wrap;
    }
    img{
        max-width: 200px;
    }
    .works nav ul{
        flex-wrap: wrap;
    }
}